
/* font-family: policeA, policeB, policeC, DEFAULT(sans-serif, serif); serif = time new roman, sans-serif = arial*/

/* font-family: "Sofia", sans-serif;        */ 
/* font-family: "Trirong", serif;           */
/* font-family: "Audiowide", sans-serif;    */

/* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Sofia|Trirong|Audiowide">

h1.a {font-family: "Audiowide", sans-serif;}
h1.b {font-family: "Sofia", sans-serif;}
h1.c {font-family: "Trirong", serif;}

*/

/* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&effect=fire|neon|outline|emboss|shadow-multiple">  

<h1 class="font-effect-neon">Neon Effect</h1>
<h1 class="font-effect-outline">Outline Effect</h1>
<h1 class="font-effect-emboss">Emboss Effect</h1>
<h1 class="font-effect-shadow-multiple">Multiple Shadow Effect</h1>

*/

/*
	Les balises de type inline : <a></a>     <span><span> 

	Les balises de type block  : <img />     <div></div>      <p></p>      

	--> Poyur jouer avec cette propriete, utiliser le mot-cle   display
*/

/*
	Positionnement absolu : 
	-->  mettre a n<importe quel endroit (mettre au dessus). Lors qu<on definit une POSITION ABSOLUE pour notre 
	     barre de navigation <nav qui est par defaut un BLOCK>, il passe au dessus de tous les autres elements, peu importe les elements.
	     Du coup, il n<est pas tout le temps utilise, a part dans ces cas particuliers.

	Poritionnement fixe :
	-->  mettre a un endroit FIXE SUR L<ECRAN EN TOUT LE TEMPS. Pratique pour les session d<entetes ET menus de navigation <nav></nav> qu<on veut garder devant son ECRAN.

	Positionnement relatif :
	-->  permet de d/caller l,/l/ment par rapport 'a sa position (par rapport 'a son parent).
*/

body
{
	font-family : Trirong, Poppins, Sans-cherif;
	background-color : rgba (72, 113, 247, 1);
	background-image : url("../img/background_image/yellow_orange.jpg");
	                     /* background-attachment: fixed ; /* ou scroll par default */

	/*background-image : url("https://www.uqac.ca/wp-content/uploads/2022/08/NUM_Rentree2022_WebLaUne3840X2160_1-1.jpg"); 		*/	 
	background-repeat : no-repeat;
	background-size : cover;              /* force à image à prendre toute la taille de l'écran*/
	/*  background-position : center      rester au centre si on reduit notre image */  
	/*  background-position : right       restera à droite si on reduit notre image */
	/*  background-position : 10% 80%     10% sur x et 80% sur y */
}

/*
header
{
	position : fixed;
	top : 0;
	left : 10px;
	right : 10px;
    background-color : rgba(255, 255, 2, 1);
	width : 100%;
}
*/

.boite_mot_de_passe
{
	border : 1px black solid;
	border-radius : 10px;
	margin : auto;
	margin-top : 50px;
	margin-bottom : 150px; 
	font-size : 16px;
	padding : 20px;
    box-shadow : 4px 4px 4px rgba(180, 180, 180, 1);
	width : 50%;
	background-color: rgba(230, 230, 230, 1);
}

#messageErreur                            /* Le petit message qui apparait en rouge  */
{
    color : red;
    font-weight : bold;
    font-size : 12px;
	margin : auto;
    margin-top : -5px;
    margin-bottom : 10px;
    display : inline-block;
    visibility : hidden;
}

#OK                                      /* Le boutton OK  */
{
    visibility : hidden;
}

h2, h3
{
	text-align : center;
	width : 80%;
	margin : auto;
}

.oublie
{
	text-align : center;
	/*width : 75%;*/
	margin : auto;
}

.cadre_video
{
  /*margin-left : 350px;  *//* je ne veux PAS DE MARGE FIXE. Je veux une MARGIN_AUTO  */
  	margin-bottom : 20px;
}

.limite-video
{
	width : 800px;
	height : 530px;
	margin : auto;
	overflow : auto;
}

h2{
	/*margin-bottom : 0;*/
	font-family : Audiowide;
	border-bottom : 1px black solid; 
	text-shadow : 4px 4px 4px green;
}

figure
{
	float : right;
}

figcaption
{
	font-size : 10px;
}

nav
{
	 text-align : center; 
	 background : white;
	 box-shadow : 4px 4px 20px grey;  /*Remarque : Je n<ai pas eu besoin de definir l<attribut BORDER*/
	 border-radius : 10px;
	 width : 80%;
	 margin : auto;
}

ul
{
	padding : 0;  /*Dans un ul, le padding des li est decalle par deffault. Donc je dois le mettre a 0 pour avoir le controle ABSOLU sur la position. */
}

nav ul li
{
	list-style-type : none;
	margin-left : 20px;
	margin-right : 20px;
	display : inline;  /* par defaut, les li sont des display BLOCK. On les change donc pour les mettre INLINE */
	                   /* REMARQUE TRES IMPORTANTE : un composant BLOCK peut avoir une HEIGHT et une WIDTH 
					                                 mais un composant INLINE n'a NI HEIGHT NI WIDTH 
													 
													 SOLUTION : INLINE-BLOCK rassemble le meilleur des 2 mondes : INLINE et BLOCK
                                                     DISPLAY : none   (permet de faire DISPATRAITRE un éléments, pour faire un éffet JavaScript)
													 
													 */
}

.telecharg_fichier
{
	width : 30px;
	height : 30px;
}
.presentation
{
	width : 75%;
	/*margin : auto;*/
	/* color : rgb(150, 102, 50); */
	text-decoration:  bold;
	margin-top : 80px; /* POURQUOI EST-CE QUE mon MARGIN-TOP ici a une influence sur mon <header> lorsque le <header> est position FIXED ?? */
	margin-bottom : 80px; 
	 /* border :  1px black solid;
	border-radius : 10px;
	box-shadow : 4px 4px 4px purple; /* ajouter la propriete inset permet d<inverser l<ombre */
}

.contact
{
	text-align : center;
	border : 1px black solid;
	border-radius : 10px;
	box-shadow : 4px 4px 4px purple;
	width : 25%;
	margin : auto;
	margin-top : 150px;
	margin-bottom : 150px;             /* Remarque : contrairement a la Balise P, la balise Section n'a PAS de margin par default. Sio on veut donc decaller une section, il faut definir une marge */
	background-color : rgb(211, 190, 211); 
}

.conteneur
{
	width : 75%;
	margin : auto;
	/*background-color : yellow; */
	padding : 50px;
	/*padding-top : 50px;
	padding-bottom : 50px;*/
	display : flex;
	justify-content : space-around; /* space-around */
}

.element
{
	font-size : 12px;
	padding-top : 20px;
	border : 1px black solid;
	border-radius : 10px;
    box-shadow : 4px 4px 4px rgba(180, 180, 180, 1);
	width : 200pX;
	background-color: rgba(230, 230, 230, 1);     /* margin-bottom : 150px;      */ /* Remarque : contrairement a la Balise P, la balise Section n'a PAS de margin par default. Sio on veut donc decaller une section, il faut definir une marge */
}

.background-cadre-contact
{
	width : 50%;
	margin : auto;
    /*background-color : yellow;*/
	margin-bottom : 40px;
}

.cadre-contact
{
	font-size : 12px;
	border : 1px black solid;
	border-radius : 10px;
    box-shadow : 4px 4px 4px purple;
	width : 200px;
	/*margin : auto;*/
	/*padding-top : 20px;*/
	margin : 50px 50px 50px 50px ;   /* Comment je fais pour mieux centrer les cadre-contacts ? */
	display : inline-block;          /* la reunion du meilleur des 2 mondes */
	background-color: rgb(211, 190, 211);     /* margin-bottom : 150px;      */ /* Remarque : contrairement a la Balise P, la balise Section n'a PAS de margin par default. Sio on veut donc decaller une section, il faut definir une marge */
}

.cadre-contact h3, .cadre-contact span /* LES 2 SPAN NE SE CENTRENT PAS */
{
	text-align : center;
}

span  /* CECI NE FONCTIONNE PAS */
{
	text-align : center;
}

.image_4profils
{
	height : 160px;
	width : 160px;
	/* margin : auto;    /*  POURQUOI EST CE QUE LE MARGIN : AUTO to seul NE FONCTIONNE PAS ? */
	margin-left : 20px;
	margin-right : 30px;
	margin-bottom : 10px;
	border-radius : 50%;
}

.image_4profils_carre
{
	height : 160px;
	width : 160px;
	/* margin : auto;    /*  POURQUOI EST CE QUE LE MARGIN : AUTO to seul NE FONCTIONNE PAS ? */
	margin-left : 20px;
	margin-right : 30px;
	margin-bottom : 10px;
	border-radius : 10px 10px 0 0;
}


.nom-filiere
{
	background-color: white;
	border-radius : 0 0 10px 10px;
	text-align : center;
}


a:hover
{
	color : green;
	font-weight : bold;
}

footer
{
	position : fixed;
	left : 10px;                /* remarque qu'ici, ce n'est PAS un MARGIN-LEFT mais plutot un LEFT */
	right : 10px;
	bottom : 10px;
	background : black;
	text-align : center;
	/* width : 75%; */
	/* margin : auto; */
	color : rgba(255, 255, 255, 0.5);
}

*   /* selecteur universel */
{
	box-sizing : border-box;
}
